@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}


@media (max-width: 375px){
    .mainBOX {
        border: 2px solid red;
        width: auto;
        height: 400vh;
        }
    .firstchildBOX {
        width: 100vw;
        height: 100vh;
        border: 3px solid blue;
        background-color: black;
        
    }
    .backgroundimageBOX {
        border: 2px solid white;
        width: 100vw;
        overflow: hidden;
    }
    #backgroundIMAGE {
        width: 200vw;
        margin-left: -55vw;
        margin-top: 8vh;
    }
    .logoBOX{
        margin-top: -95vh;
        margin-left: 5vw;
    
        
    }
    #logoDESIGN {
        width: 15vw;
    }
}
