@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

@mixin flex_CENTER {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex_space-between {
  display: flex;
  justify-content: space-between;
}

.PARENT_BOX {
  border: 3px solid red;
  width: 100vw;
  height: 100vh;
}

.FIRST_CHILD_BOX {
  border: 2px solid blue;
  width: 100vw;
  height: 100vh;
  background-image: url(IMAGES/landingpage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: red;
  @include flex_space-between();
}

@media (max-width: 414) {
  .FIRST_CHILD_BOX {
    border: 2px solid blue;
    width: 200vw;
    height: 100vh;

    background-image: url(IMAGES/landingpage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
